:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius-1: 70%;
  --radius-2: 30%;
  --radius-3: 30%;
  --radius-4: 70%;
  --radius-5: 60%;
  --radius-6: 40%;
  --radius-7: 60%;
  --radius-8: 40%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 2em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
}
button:hover {
  color: #646cff;
}

#root {
  margin: auto;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  place-items: center;
  max-width: 550px;
  min-width: 320px;
}

.title {
  text-align: center;
}

.title::first-letter,
.title span {
  color: #646cff;
}

.lang {
  max-width: 25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

#lang-selector {
  width: 10rem;
  height: 2rem;
  outline: none;
  border: none;
  padding: 0 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#lang-selector,
textarea,
.choice-input {
  box-shadow: 0px 2px 4px 3px #02020221;
}

.code-editor {
  width: 100%;
  min-height: 150px;
  padding: 15px 20px 0px 20px;
  font-size: 16px;
  position: relative;
}

.react-codemirror2 {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.placeholder-overlay {
  position: absolute;
  pointer-events: none;
  color: #737373;
  padding: 10px;
  user-select: none;
  z-index: 99;
  top: 25px;
  left: 65px;
}

.choices {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.choices .answers {
  margin: 0;
  text-align: center;
}

.choice {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer-label {
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.choice-input {
  width: 80%;
  height: 2rem;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-add {
  align-self: flex-end;
}

.btn-del {
  height: min-content;
  padding-top: 0.5rem;
}

#quiz-image {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    to right,
    #444cf7,
    #444cf7 1px,
    #e5e5f7 1px,
    #e5e5f7
  );
  width: fit-content;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#quiz-image .head,
.choices-list {
  color: #242424;
  margin: 0.5rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  word-spacing: 5px;
  line-height: 1.4;
  text-align: center;
  text-shadow: 1px 1px 2px #98989899;
  z-index: 1;
}

.blob {
  width: 180px;
  height: 180px;
  border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) /
    var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
}

.blob:first-of-type {
  top: 0px;
  right: 0px;
}

.blob:nth-of-type(2) {
  bottom: 0px;
  left: 0px;
}

#code {
  min-height: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 2px 20px 9px #34343440;
  z-index: 1;
}

#code code {
  font-size: 1.3rem !important;
}

.choices-list {
  padding-top: 1.5rem;
  width: calc(100% - 15px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, auto));
  gap: 1rem;
  justify-content: center;
  z-index: 1;
}

.choices-list .choice-container {
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border: 1.5px solid #444cf7a1;
  background: #b2b2fb59;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.choices-list .choice-container .character {
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-right: 1.5px solid #444cf7a1;
  display: flex;
  justify-content: center;
}

.character img {
  display: block;
  height: 100%;
}

.choices-list .choice-container .choice-text {
  padding-top: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1f1f1f;
  min-height: 2rem;
}

.images {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.icon {
  width: 80px;
  text-shadow: 0px 2px 20px 9px #34343440;

  margin-bottom: 1rem;
}

.btn-generate {
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  color: #21d4fd;
  border: 2px solid #e5e5f7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* to work properly on mobile phone and not override the active state color  */
@media (hover: hover) {
  .btn-generate:hover {
    background-image: linear-gradient(to right, #444cf7, #e5e5f7);
    color: #242424;
    border: none;
  }
}

.btn-generate:focus {
  color: #21d4fd;
}

footer {
  position: relative;
  bottom: 1%;
}

.developer {
  width: 50px;
  height: 50px;
  z-index: 1000;
  right: 20px !important;
  bottom: 80px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  background: #e5e5f7 !important;
  color: #242424;
  font-size: 0.9rem;
  box-shadow: 0px 0px 12px 1px #0000001f !important;
  position: fixed;
  right: 10px !important;
  bottom: 10px !important;
  width: 60px;
  height: 60px;
}

/* to work properly on mobile phone and not override the active state color  */
@media (hover: hover) {
  .developer:hover > .div-by {
    clip-path: inset(0 0 0 0);
  }
}

.div-by {
  position: absolute;
  top: -50%;
  right: 100%;
  width: 19rem;
  height: 3rem;
  background: #e5e5f7;
  color: #242424;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-bottom-right-radius: 0;
  text-transform: capitalize;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  clip-path: inset(0 0 0 100%);
}

.developer a .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url("./assets/ibrahim.jpg");
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  #lang-selector,
  textarea,
  .choice-input {
    box-shadow: 0px 2px 4px 5px #97979729;
  }

  .div-by {
    background: #242424;
    color: #e5e5f7;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #root {
    gap: 1rem;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .lang {
    gap: 1rem;
  }
  .choice-input {
    width: 70%;
  }
  #code {
    min-height: 1rem;
  }

  #code code {
    font-size: 1rem !important;
  }
}
